PORT=5005
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/?appName=Cluster0
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
SES_FROM_EMAIL=your_verified_ses_email@example.com
AUTH_SERVICE_URL=http://auth-service:5000
INTERNAL_API_KEY=replace_with_a_random_internal_key