PORT=8000

AUTH_SERVICE=http://localhost:5000
MOVIE_SERVICE=http://localhost:5001
SEAT_SERVICE=http://localhost:5002
BOOKING_SERVICE=http://localhost:5003
PAYMENT_SERVICE=http://localhost:5004

JWT_SECRET=replace_with_a_long_random_secret